@import '../../../styles/colors.scss';
.apiDoc{
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  .btn{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: $dashboard-dark;
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
    outline: none;
    margin-top: 10px;
    min-height: 40px;
    padding: 9px 10px;
    vertical-align: middle;
    text-decoration: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover{
      text-decoration: none;
    }
    &.btn-secondary{
      background-color: $btn-sec;
      color: $white;
      min-width: 170px;
      &:hover{
        background-color: $btn-sec-hover;
        color: $white;
      }
    }
  }
}

