html, body {
    height: 100%;
}

.full-height {
    height: 100%;
}

.page-wrap {
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 25px;
}

.footer {
    margin-top: -20px;
    height: 20px;
}