@import '../../../../../../styles/colors.scss';
.assigneeWrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  .assignee{
    font-size: 12px;
    line-height: 16px;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding: 0 15px;
    margin-bottom: 15px;
    text-align: center;
    .assigneeImg{
      position: relative;
      width: 46px;
      height: 46px;
      margin: 0 auto 5px;
      img{
        border-radius: 50%;
        border: 2px solid transparent;
        width: 46px;
        height: 46px;
        object-fit: cover;
      }
    }
    .name, .type{
      width: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .type{
      font-size: 10px;
      line-height: 14px;
    }
    .remove{
      background: $red;
      border-radius: 50%;
      border: 1px solid $white;
      cursor: pointer;
      top: -5px;
      right: -5px;
      width: 18px;
      height: 18px;
      position: absolute;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      z-index: 1;
      &:before, &:after{
        content: '';
        background-color: $white;
        position: absolute;
        height: 10px;
        width: 2px;
        border-radius: 10px;
        top: 50%;
        left: 50%;
      }
      &:before{
        -webkit-transform: rotate(45deg) translate(-4px, -3px);
        -moz-transform: rotate(45deg) translate(-4px, -3px);
        transform: rotate(45deg) translate(-4px, -3px);
      }
      &:after{
        -webkit-transform: rotate(-45deg) translate(3px, -4px);
        -moz-transform: rotate(-45deg) translate(3px, -4px);
        transform: rotate(-45deg) translate(3px, -4px);
      }
    }
    &:hover{
      .remove{
        opacity: 1;
        &:hover{
          -webkit-transform: scale(1.15);
          -moz-transform: scale(1.15);
          transform: scale(1.15);
        }
      }
    }
  }
}
.addBtn{
  border: 1px solid $dashboard-grey;
  border-radius: 50%;
  cursor: pointer;
  flex: 0 0 auto;
  width: auto;
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  margin-left: 15px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  &:before, &:after{
    content: '';
    background-color: $dashboard-grey;
    position: absolute;
    height: 20px;
    width: 2px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  &:before{
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  &:after{
    height: 2px;
    width: 20px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  &:hover{
    border-color: $dashboard-dark-grey;
    &:before, &:after{
      background-color: $dashboard-dark-grey;
    }
  }
}