@import '../../../../../styles/colors';

.codeUiComponentContainer {
  padding: 30px 25px 30px 25px;
  background: $code-panel-bg;
  .contentContainer {
    padding: 30px 40px 30px 40px;
    max-width: 1260px;
    margin: 0 auto;
    h1 {
      color: $white;
    }
  }
}