$ht-seagreen: #6398A7;
$ht-themegreen: #4fe0c7;

$theme-red: rgb(255, 78, 76);
$theme-main: #fff;
$theme-purple: #4e6bde;
$theme-grey: #eeeeee;
$theme-light-grey: #f7f7f7;
$theme-middle-grey: #ccc;
$theme-lighter-grey: #999;
$theme-dark-grey: #666;
$theme-darker-grey: #333;
$theme-grey-text: #535353;
$theme-middle-grey-text: #4C4C4C;
$theme-green: #24ab95;
$theme-light-green: #00DC9A;
$theme-light-orange: #ffeeba;
$theme-color-text: #1683A7;
$theme-blue: #44a7f1;

$primary: #008BF8;
$secondary: #D02E62;
$primary-green: #00d494;

$bg-primary: #fff;
$bg-secondary: #E6F4FF;
$bg-primary-pair: #00bf86;
$bg-new: #EAF3FE;
$bg-purple: #3489f7;
$bg-yellow: #ffc024;
$bg-orange: #ffaa00;
$bg-dark-grey: #404040;
$custom-bg: #f4f6f8;

$btn-primary: $primary;
$btn-primary-hover: #60B9FF;
$btn-transp: transparent;
$btn-transp-hover: #F2F2F2;
$btn-transp-text: #22282c;
$btn-sec: #00d494;
$btn-sec-hover: #50F8C6;

$shadow: #e4e4e4;

$text-secondary: #9e9e9e;

$activities-background: #1c2c3f;
$activities-title: #ffffff;
$activities-text: #d9d9d9;

$remove-btn: #ff8448;
$entity-default-color: #91959e;
$new-modal-heading: #717686;

$light-primary-back: #e6f4ff;
$success-text: #3c763d;
$success-background: #dff0d8;
$success-border: #d6e9c6;

$btn-shadow: #a6d1f0;
$img-shadow: #827a82;

$modal-header-shadow: #888;
$scrollbar-scroller: #F5F5F5;
$scrollbar-thumb: #008BF8;
$dark-black: #000000;
$table-row-strip: #f2f9ff;

$white: #fff;
$active-bg: #36AEFF;

$table-text: #979BA3;
$unassigned: #D45659;

$groupdate: #EAEAEA;

$table-strip-highlight: #E6F4FF;

$cancel-btn: #EA583D;
$upload-img-shadow: #A6A4A6;

$team-container-shadow: rgba(52, 137, 247, 0.8);

$demo-support-message-color: #E46C0A;
$light-bg: #F1F1F1;

$moving-light-bg: #C9E7FF;

$source-bg-color: #c1c1c1;

$thumbtack-color: #f27802;

$template-list-shadow: #b5b5b5;

$error-message-border: #a94442;
$error-message-custom-border: #a94442;
$error-message-custom-background: #f2dede;
$error-message-custom-border: #d48d8c;
$timetable-border: #ccddff;
$no-info-color: #8a8a8a;

$default-fields-bg: #eff2f7;

$mila-dark-blue: #142046;
$mila-orange: #ff5752;
$mila-light-grey: #c5c8d2;
$mila-dark-grey: #898fa2;
$mila-middle-grey: #9da2b2;
$mila-grey: #ededed;
$mila-orange-light: #FF8F8B;
$mila-orange-bg: #FFE5E4;
$mila-dark-red: #FF5954;
$mila-crew-placeholder: #E5E2E2;
$mila-color-ultra-light: #E7E5E5;

$rating-dark-orange: #f1c235;
$table-row-hover: #e6f4ff;
$confirmation-light-bg: #ebf6ff;
$code-panel-bg: #3d464d;
$code-panel-result-bg: #283035;

$status-bg: #eaf6f8;

$rh-grey: #999;
$rh-text: #000;
$rh-red: #cc6666;
$rh-light-text: #666;
$rh-bg-grey: #f1f1f1;

$toast-error-color: #a94442;
$hr-success-color: #1b7b31;
$execution-error: #E57373;
$testimonials-color: #fafafa;
$btn-transp-text-anchor: #388DAB;
$reviews-text: #777777;
$navbar-hamburger: #6b6b6b;
$image-hero-text: #40b5a2;
$features-flex-text: #8e8e8e;
$features-flex-intro: #318299;
$features-flex-container: #5B5B5C;
$link-item: #25ab95;
$takeaway-border: #dedede;
$red: #FF0000;
$plan-description: #737f8b;
$landing-pricing-features: #5f5f5f;
$landing-help-text: #A4ABB0;
$crew-button: #1F917E;
$crew-button-border: #176B5D;
$feedback-quote: #dcdcdc;
$customers-sayings: #1F7B9E;
$customers-box-shadow: #ececec;
$body-link: #34cbf7;
$contact-contacts: #9c9c9c;
$facebook: #3c5a9a;
$angieslist: #7fbb00;
$google: #da4c42;
$yelp: #d32200;
$twitter: #38A1F3;
$profile-details: #212121;
$account-image: #767676;
$resend-block: #F6F8FB;
$glyphicon-hover: #444444;
$attachment-box-border: #e6e6e6;
$doc-container-light-bg: #f9f9f9;
$doc-container-light-border: #ddd;
$cancel-btn-border: #d5d5d5;
$yellow: #ffc000;
$navbar-expired-btn: #d44040;
$files-shadow: #b0a7b0;
$files-title: #c4c4c4;
$selectize-color: #555;
$modal-header: #227192;
$modal-body-heading3: #86888B;
$modal-body-form-btn-border: #B1B4B8;
$modal-body-btn: #257493;
$modal-body-btn-hover: #1E5F78;
$modal-body-form-has-error: #843534;
$customer-manager-hover: #F0F0F0;
$form-gradient-c1: #009688;
$form-gradient-c2: #D2D2D2;
$customer-form-input-placeholder: #BDBDBD;
$landing-carousel-bg: #D9DEEA;
$landing-carousel-hero: #80C1C4;
$landing-carousel-hero-btn: #4863D6;
$landing-feature-flex-border: #989899;
$footer-link-hover: #2da893;
$payment-form-border: #d0d0d0;
$payment-text: #7d7d7d;
$facebook: #3b5998;
$google: #dd4b39;
$yelp: #af0606;
$angieslist: #7fbb00;
$tl-task-bg: #d08d8d;
$tl-task-hover: #e9e9e9;
$tl-box-shadow: #e5e5e5;
$tl-add-hover: #a8a8a8;
$status-bar-para-bg: #F8F9FB;
$auth-footer: #FBFAFA;
$inverse-color: #e8e8e8;
$status-title: #222;
$feature-gradient: #64B4B8;
$cc-hightlight: #d9ffe8;
$cc-hacker: #c1f1ff;
$cc-starter: #82e3ff;
$cc-growth: #23c8f6;
$cc-pro: #a9f4e9;
$cc-pro-plus: #56e8d2;
$eqp-form-area: #cecece;
$landing-reviews-switcher: #9FD4FC;
$landing-reviews-switcher-hover: #72BFFB;
$whitepaper-bg: #e0e0e0;

$not-started-status: #4E4646;
$enroute-status: #6aa3d7;
$start-status: #2ee7fb;
$complete-status: #5fe23f;
$cancelled-status: #ea583d;
$exception-status: #fd8b86;
$prepairing-status: #ff9608;
$confirmed-status: #4cc791;
$ready-for-pickup-status: #7b85d6;
$late-status: #ff9608;
$noshow-status: #ea583d;
$extra-time-status: #29B6F6;
$recommended-status: #24ab95;
$customer-signature-status: #964646;
$arriving-status: #44a7f1;
$rescheduled-status: #2d2a2a;
$onhold-status: #F57C00;
$moving-to-storage-status: #039BE5;
$in-storage-status: #81D4FA;
$out-of-storage-status: #039BE5;
$in-transit-status: #607D8B;
$pickup-status: #5E35B1;
$auto-start-status: #77c7ef;
$auto-complete-status: #55e87f;
$order-status: #efbdaa;
$skip-status: #db9797;

$success-alert-bg: #dff0d8;
$success-alert-color: #3c763d;
$success-alert-border: rgba(60, 118, 61, 0.8);

$warning-alert-color: #8a6d3b;
$warning-alert-bg: #fcf8e3;
$warning-alert-border: #faebcc;

$dashboard-bg: #dff0ff;
$dashboard-primary: #348AF7;
$dashboard-dark: #1C2C3F;
$dashboard-grey: #C4CBD1;
$dashboard-dark-grey: #8D959F;
$route-title: #475565;
$route-bg: #F3FAFF;
$highlight: #eaeaea;
$task-form-box-shadow: #B4CDE2;
$task-form-address-tab: #EFEFEF;
$task-form-tab-active: #589FF8;
$page-bg: #ecf6ff;
$moving-video-bg: #acd2fd;
$moving-light-gray: #707070;
$light-blue: #ECF6FF;

$setting-light-blue: #ECF6FF;
$switch-active-blue: #9CC8FF;
$login-grey: #707070;
$login-checkbox: #E2E2E2;

$list-date: #30E6F9;

$worker-request-date: #30E6F9;
$worker-request-editing: #29B6F6;
$worker-request-filled: #55e87f;
$worker-request-sent: #ffc000;
$worker-request-unscheduled: #F57C00;
$worker-request-cancel: #ea583d;
$worker-request-partiallyfilled: #8D959F;
$worker-request-notsent: #af0606;
$theme-forms-grey: #808080;
