@font-face {
  font-family: 'AvenirNextBold';
  src: url('/fonts/avenir-next-bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/avenir-next-bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/avenir-next-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'AvenirNext';
  src: url('/fonts/avenir-next-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/avenir-next-regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/avenir-next-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'FuturaStdBold';
  src: url('/fonts/futura/futura-std-bold-19042.eot'); /* IE9 Compat Modes */
  src: url('/fonts/futura/futura-std-bold-19042.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/futura/futura-std-bold-19042.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'FuturaStdBook';
  src: url('/fonts/futura/futura-std-book-19044.eot'); /* IE9 Compat Modes */
  src: url('/fonts/futura/futura-std-book-19044.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/futura/futura-std-book-19044.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'FuturaStdHeavy';
  src: url('/fonts/futura/futura-heavy-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/futura/futura-heavy-webfont.woff2') format('woff2'),
  url('/fonts/futura/futura-heavy-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/futura/futura-std-heavy-19050.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/fonts/futura/futura-heavy-webfont.svg#futura_heavyregular') format('svg'),
}

@font-face {
  font-family: 'FuturaStdMedium';
  src: url('/fonts/futura/futura-std-medium-19058.eot'); /* IE9 Compat Modes */
  src: url('/fonts/futura/futura-std-medium-19058.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/futura/futura-std-medium-19058.ttf')  format('truetype'), /* Safari, Android, iOS */
}