@import '../../../styles/colors.scss';

.account-password {
  background-color: $theme-light-grey;
  color: $no-info-color;
  min-height: 1500px;
  .header{
    color: $theme-lighter-grey;
    font-size: 22px;
    padding: 15px;
    padding-left: 0;
    font-weight: bold;
  }
  a{
    cursor: pointer;
  }
  .form-group-field{
    margin-top: 25px;
  }
  .button-submit{
    white-space: nowrap;
  }
}

.toastSuccessAlert {
  background: $success-alert-bg !important;
  color: $success-alert-color !important;
  -webkit-box-shadow: 16px 17px 100px -25px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 16px 17px 100px -25px rgba(0,0,0,0.75) !important;
  box-shadow: 16px 17px 100px -25px rgba(0,0,0,0.75) !important;
  border: 2px solid $success-alert-border !important;
  button {
    color: $success-alert-color !important;
  }
}

.toastErrorAlert {
  background: $error-message-custom-background !important;
  color: $toast-error-color !important;
  -webkit-box-shadow: 16px 17px 100px -25px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 16px 17px 100px -25px rgba(0,0,0,0.75) !important;
  box-shadow: 16px 17px 100px -25px rgba(0,0,0,0.75) !important;
  border: 2px solid $toast-error-color !important;
  button {
    color: $toast-error-color !important;
  }
}
