@import '../../../../../styles/colors';

.swaggerContainer {
  padding: 0 25px 0 25px;
  background: $white;
  max-width: 1260px;
  margin: 0 auto;
  table {
    @media screen and (max-width: 768px) {
      display: block !important;
      overflow: auto !important;
    }
  }
}


