@import '../../../styles/colors.scss';

.level-sidebar {
    padding: 0px 0px;
    background: $bg-secondary;

    ul {
      padding: 0px;
      margin-bottom: 0px;
    }
    flex: 1 1 100%;
}

.level-sidebar li a {
    color: $primary !important;
    margin: 0;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    word-spacing: 1px;
    padding: 15px 20px;
    display: inline-block;
    transition: border .3s ease;
    border-top: 4px transparent;
}

.level-sidebar li {
    padding-right: 0;
    padding-left: 0;
}

.active,
.level-sidebar li a:hover {
    border-top: solid 4px $primary !important;
    background-color: #FFF;
}

.level-sidebar-right {
    flex: 1;
    float: right;
}
