@import '../../../../styles/colors.scss';

.estimate-section {
  background-color: $primary;
  padding: 5px 0px;

  h3{
    color: $white;
  }
}

@media (max-width: 768px) {
    .estimate-section {
      text-align: center;
    }
}