@import '../../../../../../../styles/colors.scss';
@import '../../../../../../../styles/mixins.scss';
@import '../../../../base-styling.module';

.addTemplateModal {
  width: 100%;
  max-width: 1000px;
  @media (max-width: 767px) {
    margin-left: 0;
    margin-top: 0;
  }
  & > div {
    border-radius: 0;
    background-color: $setting-light-blue;
    width: 100% !important;
  }
  .templateModalHeader {
    background-color: $white;
    -webkit-box-shadow: 0 3px 6px rgba($dark-black,.09);
    -o-box-shadow: 0 3px 6px rgba($dark-black,.09);
    box-shadow: 0 3px 6px rgba($dark-black,.09);
    padding: 20px 15px;
    position: relative;
    z-index: 1;
    h4 {
      color: $dashboard-dark;
      font-weight: bold;
      line-height: 1.1;
    }
    .closeIcon{
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      svg path{
        transition: all .3s ease-in-out;
      }
      &:hover {
        svg path{
          fill: $dashboard-dark;
        }
      }
    }
  }
  textarea{
    height: 400px !important;
    resize: none;
  }
}
