@import '../../../styles/colors.scss';


.footer{
    margin-top: 60px;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .footerColmn {
      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
        h4{
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 50px;
            @media screen and (max-width: 768px) {
              margin-bottom: 20px;
            }
        }
        .links {
            list-style: none;
            padding: 0;
            margin:0;
            li{
                padding-bottom: 5px;
                a{
                    font-size: 1.1em;
                    color: $theme-lighter-grey;
                    &:hover{
                        color: $primary;
                        text-decoration: none;
                    }
                }
            }
        }
        .footerItems{
            font-size: 1.1em;
            padding: 10px 0;
            padding-top: 0;
            a{
                width: 27px;
                height: 27px;
                display: inline-block;
                margin-right: 15px;
              @media screen and (max-width: 768px) {
                margin-right: 5px;
              }
            }
            .twitter{
                background:url("/images/lending/twitter.png") center center no-repeat;
            }
            .facebook{
                background:url("/images/lending/facebook.png") center center no-repeat;
            }
            .linkedin{
                background:url("/images/lending/linkedin.png") center center no-repeat;
            }
        }
        .footerItemsNew{

        }
        .text{
            font-size: 1.1em;
            max-width: 300px;
        }
        .mail{
            font-size: 1.2em;
            font-weight: bold;
            background-size: 20px;
            @media screen and (max-width: 768px) {
              font-size: 1em;
            }
            a {
                color: $theme-darker-grey;
                text-decoration: none;
            }
        }
        .phone{
            font-size: 1.2em;
            font-weight: bold;
            background-size: 20px;
            @media screen and (max-width: 768px) {
              font-size: 0.9em;
            }
            a {
                color: $theme-darker-grey;
                text-decoration: none;
            }
        }
    }

    .copyr {
        color: $theme-lighter-grey;
        text-align: center;
        margin-top: 50px;
    }
    
    
}
.footer-new{
    .footerColmn{
        .links {
            li{
                a{
                    color: $theme-darker-grey;
                }
            }
        }
    }
    .copyr{
        color: $theme-darker-grey;
        margin-top: 40px;
        text-align: left;
        @media screen and (max-width: 768px) {
          margin-top: 18px;
        }
    }   
}
