@import '../../../../../styles/colors.scss';
.btn{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: $dashboard-dark;
  display: inline-block;
  font-size: 16px;
  line-height: 1.4;
  outline: none;
  min-height: 40px;
  min-width: 170px;
  padding: 9px 10px;
  vertical-align: middle;
  text-decoration: none !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  & + .btn {
    margin-left: 20px;
  }
  &:hover{
    text-decoration: none;
  }
  &:disabled {
    opacity: 0.7;
  }
  &.btn-secondary{
    background-color: $btn-sec;
    color: $white;
    &:hover{
      background-color: $btn-sec-hover;
      color: $white;
    }
  }
  &.btn-light{
    background-color: $white;
    color: $dashboard-dark;
    &:hover{
      background-color: $theme-middle-grey;
      color: $dashboard-dark;
    }
    &.delete {
      color: $red;
      &:hover {
        color: $red;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    font-size: 15px;
    min-width: 130px;
  }
}
.flexTable{
  color: $dashboard-dark;
  font-size: 13px;
  line-height: 18px;
  .checkbox{
    position: relative;
    line-height: 16px;
    margin: 0;
    label{
      padding-left: 0;
      input{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        margin-left: 0;
      }
      span{
        display: block;
        &:before{
          content: "";
          background: $white 50%/auto 7px no-repeat;
          border: 1px solid $dashboard-dark;
          position: absolute;
          left: 0;
          top: 0;
          height: 16px;
          width: 16px;
          transition: all .3s ease-in-out;
        }
      }
      input:checked + span:before{
        background-color: $dashboard-dark;
        background-image: url(/images/task-form/tick.svg);
      }
    }
  }
  time{
    font-weight: bold
  }
  .taskEssentials{
    display: flex;
    > div:last-child{
      padding: 5px 0;
    }
    .entityColor{
      border-radius: 5px;
      width: 2px;
      margin-right: 25px;
    }
    .customer_name{
      margin-top: 5px;
    }
  }
  .entity{
    display: flex;
    align-items: center;
    &:not(:last-child){
      margin-bottom: -8px;
    }
    .entityImage{
      font-size:12px;
      background-color: $dashboard-primary;
      line-height: 30px;
      text-align: center;
      color: $white;
      min-width: 30px;
      max-width: 30px;
      min-height: 30px;
      max-height: 30px;
      border-radius: 50%;
      margin-right: 10px;
      img{
        border-radius: 50%;
        min-width: 30px;
        max-width: 30px;
        min-height: 30px;
        max-height: 30px;
        display: block;
        border-width: 2px;
        border-style: solid;
        object-fit: cover;
      }
    }
    .entityName{
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .confirmationStatusIndicator{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    svg{
      height: 10px;
      width: 10px;
    }
  }
  .taskConfirmationStatusConfirmed {
    color: $primary-green;
    svg circle {
      fill: $primary-green;
    }
  }
  .taskConfirmationStatusRejected {
    color: $theme-red;
    svg circle {
      fill: $theme-red;
    }
  }

  .flexRow {
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 8px;
    padding: 0 12px;
    transition: all .3s ease-in-out;
    &:hover{
      background-color: $route-bg;
      border-color: $dashboard-primary;
    }
    .flexColumn{
      padding: 12px 10px;
      width: 100%;
    }
    .checkMrk{
      min-width: 60px;
      flex: 0 0 auto;
      width: auto;
      max-width: 60px;
    }
    .title{
      flex: 0 0 23%;
      max-width: 23%;
    }
    .time{
      min-width: 100px;
      flex: 0 0 auto;
      width: auto;
      max-width: 100px;
    }
    .address{
      flex: 0 0 27%;
      max-width: calc(27% - 150px);
    }
    .assignees{
      flex: 0 0 15%;
      max-width: 15%;
    }
    .instructions{
      flex: 0 0 35%;
      max-width: calc(35% - 150px);
    }
    .status{
      min-width: 140px;
      flex: 0 0 auto;
      width: auto;
      max-width: 140px;
    }
    &.header{
      background-color: $dashboard-dark;
      border-radius: 0;
      border: none;
      color: rgba($white, .7);
      font-size: 15px;
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 20px;
      padding: 0 27px;
      position: relative;
      z-index: 3;
      .flexColumn{
        padding: 15px 10px;
      }
      .icon{
        margin-right: 15px;
        opacity: .7;
      }
    }
    @media only screen and (max-width: 1200px) {
      .flexColumn{
        padding-left: 5px;
        padding-right: 5px;
      }
      .title{
        flex: 0 0 20%;
        max-width: 20%;
      }
      .address{
        flex: 0 0 30%;
        max-width: calc(30% - 150px);
      }
      &.header{
        font-size: 13px;
        padding: 0 20px;
        .icon{
          margin-right: 10px;
        }
        .flexColumn{
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
    @media only screen and (max-width: 991px) {
      padding-top: 5px;
      padding-bottom: 5px;
      &.header{
        padding-top: 5px;
        .flexColumn{
          flex: 0 0 25%;
          max-width: 25%;
          margin-bottom: 5px;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
      .flexColumn{
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .checkMrk{order: 1}
      .time{
        min-width: 150px;
        max-width: 150px;
      }
      .title{
        flex: 0 0 100%;
        max-width: calc(100% - 350px);
      }
      .address, .assignees, .instructions{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
      .checkMrk{order: 1}
      .time{order: 2}
      .status{order: 3}
      .title{order: 4}
      .address{order: 5}
      .assignees{order: 6}
      .instructions{order: 7}
    }
    @media only screen and (max-width: 767px) {
      &.header{
        padding: 10px 5px 5px;
        .flexColumn{
          line-height: 1;
          padding-left: 10px;
          padding-right: 10px;
          flex: 0 0 50%;
          max-width: 50%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .time, .status{
        flex: 0 0 50%;
        max-width: calc(50% - 30px);
      }
      .title, .address, .assignees, .instructions{
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media only screen and (max-width: 480px) {
        .time{
          flex: 0 0 100%;
          max-width: calc(100% - 60px);
        }
        .status, .title, .address, .assignees, .instructions{
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }
  .inner{
    padding: 15px;
  }
  .notFoundMessage {
    background-color: $white;
    border-radius: 5px;
    color: $dashboard-dark;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 15px;
    max-width: 400px;
    margin: 0 auto;
  }
}
.actionsContainer {
  padding: 0 15px;
  margin-bottom: 20px;
}
.selectionButtonsBg {
  background: $confirmation-light-bg;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid $moving-light-bg;
  button {
    background: none;
    border: 0;
    outline: none;
    color: $primary;
    text-decoration: none;
    margin-right: 15px;
    border-bottom: 1px solid $moving-light-bg;
    padding: 0;
    &:hover {
      border-color: $primary;
    }
  }
}
